{% extends "base.html.twig" %}

{% block content %}
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-wrap">
        <div class="w-100"></div>
            <div class="site-section site-blocks-cover" id="about-section">
                <div class="container">
                    <div class="row mb-5 align-items-center">

                        <div class="col-md-5 ml-auto mb-5 order-md-2"  data-jarallax-element="50">
                          <img src="images/img_13.jpg" alt="Image" class="img-fluid rounded">
                        </div>
                        <div class="col-md-6 order-md-1"  data-jarallax-element="-50">

                          <div class="row">

                            <div class="col-12">
                              <div class="text-left pb-1">
                                <h2 class="site-section-heading">A Propos</h2>
                              </div>
                            </div>
                            <div class="col-12 mb-4">
                              <p class="lead">Bienvenue sur mon site ! Je suis Anais de Froment, psychologue clinicienne passionnée par l'accompagnement des individus vers un meilleur bien-être mental et émotionnel.</p>
                            </div>
                            <div class="col-md-12 mb-md-5 mb-0 col-lg-6">
                              <div class="unit-4">
                                <div class="unit-4-icon mr-4 mb-3"><span class="text-primary icon-phonelink"></span></div>
                                <div>
                                  <h3>Ma Mission</h3>
                                  <p>Vous offrir un espace sûr, bienveillant et confidentiel où vous pourrez explorer vos pensées, émotions et préoccupations</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12 mb-md-5 mb-0 col-lg-6">
                              <div class="unit-4">
                                <div class="unit-4-icon mr-4 mb-3"><span class="text-primary icon-extension"></span></div>
                                <div>
                                  <h3>Mon Approche</h3>
                                  <p>J'utilise des méthodes éprouvées telles que la thérapie cognitive-comportementale (TCC).</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        

                    </div>
                </div>
            </div>

            <section class="site-section testimonial-wrap" id="testimonial">
              <div class="container mb-5">
                <div class="row justify-content-center">
                  <div class="col-md-8 text-center">
                    <h2 class="site-section-heading text-center">Témoignages</h2>
                  </div>
                </div>
              </div>
              <div class="slide-one-item home-slider owl-carousel">
                <div>
                  <div class="testimonial">

                    <blockquote class="mb-5">
                      <p>&ldquo;Mon expérience ici a été transformative. J'étais initialement réticent à chercher de l'aide, mais dès ma première séance, j'ai été accueilli avec chaleur et compréhension. Ma psychologue m'a aidé à explorer les racines de mes problèmes, à comprendre mes émotions et à développer des outils pour les gérer.&rdquo;</p>
                    </blockquote>

                    <figure class="mb-4 d-block align-items-center justify-content-center">
                      <div><img src="images/person_3.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>
                      <p>Alex DaSilva</p>
                    </figure>
                  </div>
                </div>
                <div>
                  <div class="testimonial">

                    <blockquote class="mb-5">
                      <p>&ldquo;Je suis vraiment heureux d'avoir pris la décision de consulter un psychologue. J'étais dans une période sombre de ma vie, submergé par l'anxiété et la dépression. Grâce aux séances de thérapie, j'ai pu comprendre mes pensées et mes émotions, apprendre à les gérer et à prendre de meilleures décisions.&rdquo;</p>
                    </blockquote>
                    <figure class="mb-4 d-block align-items-center justify-content-center">
                      <div><img src="images/person_2.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>
                      <p>Benjamin Dupuit</p>
                    </figure>

                  </div>
                </div>

                <div>
                  <div class="testimonial">

                    <blockquote class="mb-5">
                      <p>&ldquo;J'avais des problèmes de relations interpersonnelles et de confiance en moi qui me tourmentaient depuis des années. Ma psychologue m'a offert un espace sûr pour parler de mes préoccupations et m'a aidé à travailler sur mes problèmes. Grâce à cette thérapie, je me sens désormais plus fort, plus en paix avec moi-même et avec les autres.&rdquo;</p>
                    </blockquote>
                    <figure class="mb-4 d-block align-items-center justify-content-center">
                      <div><img src="images/person_4.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>
                      <p>Deny Podda</p>
                    </figure>


                  </div>
                </div>

                <div>
                  <div class="testimonial">

                    <blockquote class="mb-5">
                      <p>&ldquo;À un moment donné, je me sentais totalement dépassé par le stress et les responsabilités de ma vie quotidienne. Ma thérapie a été une bouée de sauvetage. Ma psychologue m'a aidé à élaborer des stratégies pour gérer le stress, à améliorer ma communication avec ma famille et à renforcer ma résilience émotionnelle.&rdquo;</p>
                    </blockquote>
                    <figure class="mb-4 d-block align-items-center justify-content-center">
                      <div><img src="images/person_5.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>
                      <p>Anais de Froment</p>
                    </figure>

                  </div>
                </div>

              </div>
            </section>
        </div>
    </div>
</body>
{% endblock %}
